<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.xq.views.datamanager"
          name="Data Manager"
          icon="resources/datamanager.svg"
          class="xq_DataExplorerView"/>
  </extension>
  <extension-point id="contextMenuActions" name="Context menu actions"/>
</plugin>
