<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.xq.views.simulation"
          name="Flow Simulation"
          icon="resources/simulation.svg"
          class="xq_HemodynamicsView"
          category="Stage 5 – Simulation"/>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.xq.views.simulation.preferencepage"
          name="Flow Simulation"
          class="xq_SimulationPreferencePage"/>
  </extension>

  <extension point="org.xq.core.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="xq_MitkGrid"
                       label="Create Simulation Job"
                       class="xq_SimJobCreateAction"/>
    <contextMenuAction nodeDescriptorName="xq_MitkSolverJob"
                       label="Export Solver Files"
                       class="xq_SolverExportAction"/>
    <contextMenuAction nodeDescriptorName="xq_MitkSolverJob"
                       label="Import Result File"
                       class="xq_ResultImportAction"/>
    <contextMenuAction nodeDescriptorName="xq_SimulationFolder"
                       label="Import Result File"
                       class="xq_ResultImportAction"/>
  </extension>
</plugin>
