<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.xq.views.imageprocessing"
          name="Image Processing"
          icon="resources/imageprocessing.svg"
          class="xq_ImageProcessingView"
          category="Stage 1 – Images"/>
  </extension>
</plugin>
