<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.xq.views.meshing"
          name="Mesh Generation"
          icon="resources/meshing.svg"
          class="xq_GridGenerationView"
          category="Stage 4 – Modeling"/>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.xq.views.meshing.preferencepage"
          name="Mesh Generation"
          class="xq_GridPreferencePage"/>
  </extension>

  <extension point="org.xq.core.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="xq_GridFolder"
                       label="Create Mesh"
                       class="xq_MeshCreateAction"/>
    <contextMenuAction nodeDescriptorName="xq_Model"
                       label="Create Mesh from Model"
                       class="xq_MeshCreateAction"/>
  </extension>
</plugin>
