<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.xq.views.mitksegmentation"
          name="3D Segmentation"
          icon="resources/icon.png"
          class="xq_MitkSegmentationView"
          category="Stage 3 – Segmentations"/>
  </extension>
</plugin>
